/_build
/cover
/deps
/doc
erl_crash.dump
*.ez

# Testing stuff
/test/fixtures/**/_build

# C stuff
*.so
*.o

# skylightd artifacts
*.pid
*.sock

# skylight-rust source and compilation artifacts
/c_src/skylight_dlopen*
/priv/skylight_dlopen*
/priv/skylightd
/priv/libskylight*

# Artifacts of the compilation of the native C code in this library
/priv/skylight_nif.so*
/tmp

# Don't ignore these!
!/test/bootstrap/fixtures/skylight_x86_64-darwin.tar.gz
